<div class="organization-information-block">
  <div class="label-block">
    <span class="label-title">Organization Name</span>
    <div class="label-content">
      {{Organization Name}}
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">City</span>
    <div class="label-content">
      {{City}}
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">State</span>
    <div class="label-content">
      {{State/Region}}
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">Contact Name</span>
    <div class="label-content">
      {{Contact Name}}
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">Contact Email Address</span>
    <div class="label-content">
      {{Contact Email Address}}
    </div>
  </div>


  <div class="label-block">
    <span class="label-title">Organization Website</span>
    <div class="label-content">
      <a href="{{Organization Website}}" target="_blank">{{Organization Website}}</a>
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">Current Campaigns</span>
    <div class="label-content">
      {{Current Campaigns}}
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">Recent Accomplishments</span>
    <div class="label-content">
      {{Recent Accomplishments}}
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">Key Issues</span>
    <div class="label-content">
      {{#keyIssues}}<span class="tag">{{.}}</span>{{/keyIssues}}
    </div>
  </div>

  <div class="label-block">
    <span class="label-title">Other Issues</span>
    <div class="label-content">
      {{#otherIssues}}<span class="tag">{{.}}</span>{{/otherIssues}}
    </div>
  </div>
</div>

<hr class="org-hr">
